/* 
    Document   : main_style
    Created on : 2012-feb-26, 13:27:06
    Author     : Sam
    Description:
        Purpose of the stylesheet follows.
*/

body a{ 
    text-decoration: none;
}

#container{
    width: 960px;
    margin: 0 auto 0 auto;
    clear: both;
}

#header{
    
}

#content{
    
}

#map_canvas{
   margin: 0 auto 10px auto;
   clear: both;
   border: 2px solid blue;
}